.container {
  display: grid;
  user-select: none;
}

/* Each item in our grid will contain numbers */
.cell {
  /* We center the contents of these items. You can also do this with flexbox too! */
  display: grid;
  width: 35px;
  height: 35px;
  color: #3e3f3a;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  font-size: 25px;
}

.cell.marked {
  background-color: #73a839;
  color: whitesmoke;
}

.cell.bomb {
  background-color: rgb(228, 105, 83);
}

.button {
  margin-top: 1rem;
  height: 35px;
  background-color: #8e8c84;
  color: whitesmoke;
  border-radius: 5px;
  text-align: center;
  padding: 5px;
  grid-column: 1 / span 2;
  user-select: none;
  cursor: pointer;
}

.button:hover {
  background: #3e3f3a;
  color: #fff;
}

.timer {
  margin-bottom: 10px;
}
